<div class="text-center mt-5 mb-5">
    <h3>悩みを投稿する</h3>
</div>

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= form_with(model: @ask, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-group">
                <%= f.label :title, 'Title' %>
                <%= f.text_field :title, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :content, 'Content' %>
                <%= f.text_field :content, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :category_id, 'Category' %>
                <%= f.select :category_id, Category.all.map{|o| [o.name, o.id]} %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            
            <%= f.submit '投稿する', class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>