<div class="text-center pt-5 mb-5">
    <h3>悩みを投稿する</h3>
</div>


        <%= form_with(model: @ask, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-group">
                <%= f.label :title, 'Title' %>
                <%= f.text_field :title, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :content, 'Content' %>
                <%= f.text_field :content, class: 'form-control', style: 'height: 100px;', cols: '20', wrap: 'hard' %>
            </div>
            
            <!--<div class="form-group">-->
            <!--    <%= f.label :category_name, 'Category' %>-->
            <!--    <%= f.select :name, [["人間関係", 1], ["受験", 2], ["恋愛", 3], ["健康", 4], ["その他", 5]] %>-->
                
            <!--</div>-->
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="text-center">
                <%= f.submit '投稿する', class: 'btn btn-primary  mt-5' %>
            </div>
        <% end %>
  