<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Asks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style type="text/css">
        .container-fluid {
            background-color: #FAEBD7;
            min-height: 700px;
            max-height: 100%;
        }
    </style>
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>

  <body>
    <div class="text-center pt-5 pb-2 pb-2" style="background-color: #5bc0de; ">
        <%= link_to 'Asks', root_path, style: "color: #fff; font-size: 30px; text-decoration: none;" %>
    </div>
    <div class="container-fluid">
      <%= render 'layouts/flash_messages' %>
      <div class="text-center pt-5 mb-5">
          <h2>Sign up</h2>
      </div>
      
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <%= form_with(model: @user, local: true) do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
                  <div class="form-group">
                      <%= f.label :name, 'Name' %>
                      <%= f.text_field :name, class: 'form-control' %>
                  </div>
                  
                  <div class="form-group">
                      <%= f.label :email, 'Email' %>
                      <%= f.email_field :email, class: 'form-control' %>
                  </div>
                  
                  <div class="form-group">
                      <%= f.label :password, 'Password' %>
                      <%= f.password_field :password, class: 'form-control' %>
                  </div>
                  
                  <div class="form-group">
                      <%= f.label :password_confirmation, 'Confirmation' %>
                      <%= f.password_field :password_confirmation, class: 'form-control' %>
                  </div>
                  <div class="text-center">
                    <%= f.submit 'Sign up', class: 'btn btn-primary' %>
                  </div>
            <% end %>
            <div class="text-center mt-5 mb-5">
                <p>登録済みの方はこちら</p>
                <%= link_to 'Log in', login_path, class: 'btn btn-primary' %>
            </div>
          </div>
      </div>
    </div>
    
  </body>
</html>
