<div class="text-center pt-2 pb-1">
    <p>ようこそ、<%= @user.name %>さん</p>
</div>
<div class="text-center mb-5">
    <h3><%= @user.name %>さんのこれまでの投稿</h3>
</div>
<% @user.asks.each do |ask| %>
    
            <div class="card mb-3">
                <div class="card-body">
                     <h5 class="card-title mb-2"><%= ask.title %></h5> 
                    <p class="card-text"><%= ask.content %></p>
                    <!--<p class="card-text">カテゴリー：</p>-->
                    <%= link_to "削除", ask, method: :delete, data: {confirm: "You sure?"}, class: 'btn btn-danger' %>
                </div>
            </div>
     
<% end %>